@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: var(--Light-Grayish-Blue); */
}

:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

/* Navigation */
.container {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

body {
  background-color: white;
  font-size: 1.1rem;
  margin: 0;
}

section {
  min-height: 50vh;
  padding: 0 9%;
  padding-top: 2.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logo {
  cursor: pointer;
  width: 15vh;
  color: var(--Very-Dark-Blue);
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
  text-align: center;
}

a {
  color: #3da08f;
}

.green {
  font-size: 0.9rem;
}

li a {
  text-decoration: none;
  color: var(--Desaturated-Blue);
}

.illustration-1 {
  width: 40vw;
}

/* global styles */

form input {
  padding: 8px 0;
}

button {
  padding: 9px 40px;
  background-color: var(--Bright-Blue);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.home .content h3 {
  font-size: 1.8rem;
  color: var(--Very-Dark-Blue);
  line-height: 1.5;
}

.home .content p {
  font-size: 0.9rem;
  color: var(--Desaturated-Blue);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.home input {
  padding: 9px 40px;
  border-color: var(--Desaturated-Blue);
  margin-right: 0.3rem;
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg-curve-desktop.svg);
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: 100%;
  padding-bottom: 50px;
}

.section-2 h1 {
  font-size: 1.5rem;
  color: var(--Very-Dark-Blue);
  line-height: 1.5;
  margin-top: 5rem;
}

.section-2 p {
  font-size: 0.9rem;
  color: var(--Desaturated-Blue);
  margin-top: 1rem;
}

.p2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.illustration-2 {
  width: 40vw;
  margin-left: 50px;
}

.testimonial-box {
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 40px;
  padding: 25px;
  width: 80%;
  /* height: 50vh; */
}

.testimonial-box p {
  font-size: 14px;
  letter-spacing: 1px;
}

.avatar {
  display: flex;
  margin-top: 2rem;
}

.avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 0.2rem;
}

.avatar-content h4 {
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.5rem;
  color: var(--Very-Dark-Blue);
}

.avatar-content small {
  font-size: 0.5rem;
  color: var(--Desaturated-Blue);
}

.section-3 {
  display: flex;
  background-color: var(--Desaturated-Blue);
  background-position: center;
  background-size: cover;
  color: #fff;
  align-items: center;
  justify-content: center;
}

/* .section-3 form{
   flex-direction: column;
 } */

.section-3 form input {
  border: none;
  /* width: 100%; */
  margin-left: 30%;
  padding-right: 30%;
}

.section-3 form button {
  margin: 20px 0;
  margin-left: 30%;
}

.section-3 p {
  font-size: 1rem;
  margin: 0.5rem;
}

footer {
  background-color: var(--Very-Dark-Blue);
  color: white;
  padding: 50px 70px;
    background-size: cover;
    background-position: center;
    
}
.footer-links{
   padding: 0 60px;
}


.footer-links ul li a{
  font-size: 10px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
}

.section-footer{
  display: flex;
  flex-wrap: wrap;
}


footer ul {
  list-style-type: none;
  
}

footer ul li {
  margin-bottom: 20px;
}

.footer-4 .social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  margin-right:10px;
  line-height: 30px;
  text-decoration: none;
}

 footer .logo-footer{
  width: 20vh;
  margin-bottom: 1rem;
}







@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
  }

  section {
    min-height: 50vh;
    padding: 0 5%;
    padding-top: 2rem;
  }

  .nav_links li {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
  }

  .logo {
    width: 12vh;
  }

  /* global styles */
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  .illustration-1 {
    margin: 2.5rem;
    height: 30vh;
    width: 85vw;
  }

  .home .content h3 {
    text-align: center;
    font-size: 1.6rem;
    color: var(--Very-Dark-Blue);
    line-height: 1.2;
  }

  .home .content p {
    text-align: center;
    font-size: 1rem;
    color: var(--Desaturated-Blue);
    margin: 1.7rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
  }

  .home input {
    display: block;
    justify-content: center;
    margin: 0.2rem 15px;
    margin-top: 3rem;
    padding: 12px 70px;
    border-color: var(--Desaturated-Blue);
    text-align: center;
  }

  form a {
    display: flex;
  }

  button {
    justify-content: center;
    margin: 0 auto;
    padding: 12px 122px;
    margin-top: 0.8rem;
  }

  .section-2 {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 8rem;
    position: relative;
    height: 100%;
    padding-bottom: 50px;
    background-image: url(./images/bg-curve-desktop.svg);
    background-size: cover;
    background-position: center;
  }

  section .illustration-2 {
    margin: 2.5rem;
    height: 30vh;
    width: 85vw;
  }

  .section-2 h1 {
    text-align: center;
    padding: 7px 0;
    margin: 1rem 0;
    font-size: 18px;
    font-weight: 700;
  }

  .p2 {
    margin-top: 1.1rem;
    margin-bottom: 1rem;
  }

  .see-fylo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  .testimonial-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 3rem 0;
  }

  .testimonial-box p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: bold;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .avatar-content {
    justify-content: center;
    align-items: center;
    line-height: 10px;
  }

  .avatar img {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 0.5rem;
  }

  .section-3 {
    display: flex;
    flex-direction: column;
  }

  .section-3 h1 {
    margin-top: 4rem;
    text-align: center;
    font-size: 24px;
    margin-bottom: 1.4rem;
  }

  .section-3 p {
    text-justify: auto;
    text-align: center;
  }

  .section-3 br {
    display: none;
  }

  .section-3 form input {
    /* width: 100%; */
    margin-top: 20px;
    padding: 10px 55px;
    margin-left: 10px;
    display: inline-block;
  }

  .section-3 form button {
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px 78.2px;
    display: inline-block;
    margin-bottom: 5rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 5% 5% 3% 3%;
    color: var(--Light-Grayish-Blue);
  }

  footer > img {
    margin: 2rem 0;
    flex: 1;
    width: 50%;
    filter: brightness(0) invert(1);
    margin-left: 1.25rem;
  }

  .section-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-1 {
    margin-left: 1.25rem;
  }

  .footer-2 {
    text-decoration: white;
    margin: 2rem 0;
    margin-left: 1.25rem;
  }

  .footer-3 li a {
    color: var(--Light-Gray);
    margin-left: 1.25rem;
  }

  .footer-2 li a {
    color: var(--Light-Gray);
  }
}
